<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [4]:
# Ваш код здесь
print('Мужчин: ' +str(np.sum(data['sex'] == 'Female')))
print('Женщин: ' + str( np.sum(data['sex'] == 'Male')))

Мужчин: 10771
Женщин: 21790

**2. Каков средний возраст (признак *age*) женщин?**

In [19]:
# Ваш код здесь

#data['age'].mean()
female_data = data.loc[data['sex'] == 'Female']
female_data['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [25]:
# Ваш код здесь
germany_data = data.loc[data['native-country'] == 'Germany']
germany_data.shape[0]/data.shape[0]

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [59]:
# Ваш код здесь
def my_std(data, mean):
    x_minus_mean = (data - mean)**2
    x_minus_mean_square = (x_minus_mean.sum()/(x_minus_mean.shape[0]-1))**0.5
    print(x_minus_mean_square)
less_50 = data.loc[data['salary'] == '<=50K']
more_50 = data.loc[data['salary'] == '>50K']
less_50_mean = less_50['age'].mean()
# more_50_mean = more_50.mean()
less_50['age'].std(), more_50['age'].std()
#my_std(less_50['age'], less_50_mean)

(14.02008849082488, 10.519027719851826)

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [67]:
# Ваш код здесь
education_values = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
more_50 = data.loc[data['salary'] == '>50K']
more_50.loc[more_50['education'].isin(education_values)].shape[0] == more_50.shape[0]

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [91]:
# Ваш код здесь
grouped = data.groupby('race')
grouped.mean()
for (i, sub_df) in grouped:
    sub_df.describe()
    print(sub_df.loc[sub_df['race'] == 'Amer-Indian-Eskimo'].max())

age                               82
workclass                  State-gov
fnlwgt                        445168
education               Some-college
education-num                     16
marital-status               Widowed
occupation          Transport-moving
relationship                    Wife
race              Amer-Indian-Eskimo
sex                             Male
capital-gain                   27828
capital-loss                    1980
hours-per-week                    84
native-country         United-States
salary                          >50K
dtype: object
age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64
age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64
age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64
age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [109]:
# Ваш код здесь
#grouped = data.groupby('salary')
married = data.loc[data['marital-status'].str.startswith('Married') & (data['salary'] == '>50K')]
not_married = data.loc[~data['marital-status'].str.startswith('Married') & (data['salary'] == '>50K')]
if married.shape[0] > not_married.shape[0]:
    print('Married more')
else:
    print('Not Married more')
# for i, sub_df in grouped:
#     print(sub_df.loc[sub_df['marital-status'].str.startswith('Married')])

Married more

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [117]:
# Ваш код здесь
print('Maximal working hours per week is: %s' %(data['hours-per-week'].max()))
max_work_people = data.loc[data['hours-per-week'] == data['hours-per-week'].max()]
max_work_people_count = max_work_people.shape[0]
max_work_people.loc[data['salary'] == '>50K'].shape[0]/max_work_people.shape[0]

Maximal working hours per week is: 99

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [124]:
# Ваш код здесь
grouped = data.groupby('native-country')
for (i, sub_df) in grouped:
    less_50 = sub_df.loc[sub_df['salary'] == '<=50K']
    more_50 = sub_df.loc[sub_df['salary'] == '>50K']
    print(less_50['hours-per-week'].mean())
    print(more_50['hours-per-week'].mean())

40.16475972540046
45.54794520547945
41.416666666666664
40.0
37.91463414634146
45.64102564102564
37.38181818181818
38.9
38.68421052631579
50.0
37.98571428571429
42.44
42.338235294117645
47.0
38.041666666666664
48.75
36.03092783505155
45.0
40.483333333333334
44.53333333333333
41.05882352941177
50.75
39.13978494623656
44.97727272727273
41.80952380952381
50.625
39.36065573770492
36.666666666666664
36.325
42.75
40.0
nan
34.333333333333336
60.0
39.142857142857146
45.0
31.3
50.0
38.233333333333334
46.475
41.44
47.5
40.94736842105263
48.0
39.625
45.4
38.23943661971831
41.1
41.0
47.958333333333336
40.375
40.0
40.00327868852459
46.57575757575758
36.09375
37.5
41.857142857142854
nan
35.06896551724138
40.0
38.065693430656935
43.032786885245905
38.166666666666664
39.0
41.93939393939394
41.5
38.470588235294116
39.416666666666664
39.44444444444444
46.666666666666664
40.15625
51.4375
33.774193548387096
46.8
42.86666666666667
58.333333333333336
37.05882352941177
40.0
38.79912723305605
45.50536884674383
37.193548387096776
39.2
41.6
49.5